.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  margin-top: 30px;
}

.nft-image {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.nft-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

button {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
}

@keyframes colorChange {
  0% {
    color: crimson;
  }
  20% {
    color: lightcoral;
  }
  40% {
    color: orange;
  }
  60% {
    color: greenyellow;
  }
  80% {
    color: lightskyblue;
  }
  100% {
    color: purple;
  }
}

.NFTWord {
  animation: colorChange 2s infinite;
  animation-timing-function: ease-in-out;
}

.font {
  font-family: consolas;
}

.scroll-container {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  margin-top: 60px;
  display: flex;
  box-sizing: border-box;
  font-family: consolas;
  margin-bottom: 10px;
}

.scroll-container::-webkit-scrollbar {
  width: 12px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, transparent, greenyellow, lightskyblue);
  border-radius: 6px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(90deg, transparent, #00c6ff, rgb(56, 97, 122));
}

.card-row {
  display: flex;
  gap: 33px;
}

.card-col {
  flex: 0 0 auto;
}

.text {
  font-family: consolas;
}

.button {
  display: inline-block;
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-decoration: none;
  font-family: consolas;
  font-weight: 600;
  font-size: 20;
  padding: 8px 15px;
  color: darkblue;
  border: 0.15em solid darkblue;
  border-radius: 2em;
  transition: 4s;
}

.button:before,
.button:after {
  content: '';
  position: absolute;
  top: -1.5em;
  z-index: -1;
  width: 200%;
  aspect-ratio: 1;
  border: none;
  border-radius: 40%;
  background-color: rgb(201, 233, 253);
  transition: 4s;
}

.button:before {
  left: -80%;
  transform: translate3d(0, 5em, 0) rotate(-340deg);
}

.button:after {
  right: -80%;
  transform: translate3d(0, 5em, 0) rotate(390deg);
}

.button:hover,
.button:focus {
  color: white;
}

.button:hover:before,
.button:hover:after,
.button:focus:before,
.button:focus:after {
  transform: none;
  background-color: rgba(0, 0, 255, 0.75);
}

.container {
  position: relative;
  backdrop-filter: blur(12px);
  transform: scale(1);
  transition: transform 0.8s ease;
  border-radius: 15px;
}

.container.hovered {
  transform: scale(1.1);
  transition: transform 0.8s ease;
}

.overlay-container {
  position: absolute;
  top: 20px;
  right: 500px;
  bottom: 20px;
  left: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 40px;
}
