.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  margin-top: 30px;
}

.nft-image {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.nft-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

button {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
}

@keyframes colorChange {
  0% {
    color: crimson;
  }
  20% {
    color: lightcoral;
  }
  40% {
    color: orange;
  }
  60% {
    color: greenyellow;
  }
  80% {
    color: lightskyblue;
  }
  100% {
    color: purple;
  }
}

.NFTWord {
  animation: colorChange 2s infinite;
  animation-timing-function: ease-in-out;
}

.scroll-container {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  margin-top: 100px;
  display: flex;
}

.scroll-container::-webkit-scrollbar {
  width: var(--scrollbar-height, 0px);
  height: var(--scrollbar-width, 40px);
}

.scroll-container::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color, #002953);
}

.scroll-container::-webkit-scrollbar-thumb {
  background: url('https://raw.githubusercontent.com/Gowee/nyancat-svg/main/nyancat.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 12px;
}

.scroll {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
  }

  body {
    background: #000;
  }

  section {
    width: 100%;
    min-height: 100vh;
    padding: 100px;
  }

  section h2 {
    color: #666;
  }

  section p {
    color: #666;
    font-size: 1.2em;
  }

  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #30ff00);
    border-radius: 6px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent, #00c6ff);
  }
}

.card-row {
  display: flex;
  gap: 33px;
}

.card-col {
  flex: 0 0 auto;
}

/* button style */
.button {
  display: inline-block;
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 10;
  padding: 8px 15px;
  color: darkblue;
  border: 0.15em solid darkblue;
  border-radius: 2em;
  transition: 4s;
}

.button:before,
.button:after {
  content: '';
  position: absolute;
  top: -1.5em;
  z-index: -1;
  width: 200%;
  aspect-ratio: 1;
  border: none;
  border-radius: 40%;
  background-color: rgba(0, 0, 255, 0.25);
  transition: 4s;
}

.button:before {
  left: -80%;
  transform: translate3d(0, 5em, 0) rotate(-340deg);
}

.button:after {
  right: -80%;
  transform: translate3d(0, 5em, 0) rotate(390deg);
}

.button:hover,
.button:focus {
  color: white;
}

.button:hover:before,
.button:hover:after,
.button:focus:before,
.button:focus:after {
  transform: none;
  background-color: rgba(0, 0, 255, 0.75);
}
